body {
    margin: 0;
    background-color: #191e0f;
}

.container {
    width: 100%;
    margin: auto;
    background-color: #b6ae6e;

}


html {
    font-family: SansSerif;
}

header {
    display: flex;
    margin: 0;
    background-color: #000000;
    justify-content: space-between;
}

.company-logo {
    width: 9rem;
}


ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

nav {
    justify-content: right;
}

li a {
    display: block;
    color: #d3cfaa;
    text-decoration: none;
    line-height: 2rem;
    padding: 2rem;
    margin: 0 2rem;
}
li:hover {
    background-color: #23200a;
}

.home_main {
    text-align: center;
    padding: 7rem 2rem;
    }

h1 {
    font-size: xxx-large;
}

h2 {
    padding: 2rem 2rem 0 6rem;
    margin: 1rem;
}

.products_main {
    text-align: center;
    margin: 0 0 4rem 0;
}

.products_main p {
    margin: 1rem 10rem 1rem 10rem;
}

.all_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
}

figure {
    flex: 1;
    text-align: center;
    background-color: #aca161;
    width: 100%;
}

.contact_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 1rem 4rem 2rem;
    margin: 1rem;
}

.contact_main p {
    margin: 0;
    padding-top: 2rem;
}

.map_img {
    width: 60%;
}


footer {
    text-align: center;
    font-size: medium;
    color: #465940;
    padding: 1rem;
    background-color: #000000;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }
}